
footer{
    background-color: #f25252;
}
button{
    background-color: #6c757d;
    color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 0px;
}

#com{
    border-top: white;
    border-top: 10px;
}
.icon{
    
    width: 70px;
    height: 70px;
}